@model List<Product>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.price</td>
                    <td>@product.Qantity</td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id" asp-controller="Product">Delete</a>
                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@product.Id" asp-controller="Product">Update</a>
                    </td>
                </tr>
            }
        </tbody>
        </tabl>
</div>
<a asp-action="Create" class="btn btn-primary" type="button">create</a>